type nt_esim_app, domain;
app_domain(nt_esim_app)

allow nt_esim_app {
  activity_service
  activity_task_service
  audio_service
  audioserver_service
  autofill_service
  batteryproperties_service
  batterystats_service
  content_capture_service
  game_service
  gpu_service
  hint_service
  media_session_service
  netstats_service
  sensorservice_service
  surfaceflinger_service
  uimode_service
  vendor_perf_service
  vibrator_manager_service
  voiceinteraction_service
  virtual_device_service
}:service_manager find;

allow nt_esim_app privapp_data_file:dir create_dir_perms;
allow nt_esim_app privapp_data_file:{
  file
  lnk_file
} create_file_perms;

set_prop(nt_esim_app, radio_prop)
get_prop(nt_esim_app, radio_prop)
